# 環境設定（そのまま記述）
DJANGO_SETTINGS_MODULE=project.settings

# Django設定
SECRET_KEY=luggo-dev-secret-key-change-in-devlopment

# メール設定
DEFAULT_FROM_EMAIL=noreply@sample.com

# Resend設定
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@sample.com

# 運営への通知先メールアドレス（カンマ区切りで複数指定可）
OPERATIONS_NOTIFICATION_EMAIL=ops@sample.com
